{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="bg-white text-dark p-3 mb-4 text-center">List Of Options</h1>
            <div class="d-grid gap-2">
                <a href="/offices" class="btn btn-outline-dark btn-lg mb-2">Offices</a>
                <a href="/products" class="btn btn-outline-dark btn-lg mb-2">Products</a>
                <a href="/employees" class="btn btn-outline-dark btn-lg mb-2">Employees</a>
                <a href="/customers" class="btn btn-outline-dark btn-lg mb-2">Customers</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

